*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Libre Franklin', sans-serif;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f1f1;
}

.card{
    width: 300px;
    background-color: white;
    padding: 3em 2em;
    box-shadow: 0px 21px 20px -11px #e5e5e5;
    border-radius: .5em;
}

.card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-txt{

        font-size: 1.4em;
        color: #222222;
        margin-top: 1em;

}

.email-txt{
    margin-top: .7em;
    color: #646464b4;
}


.profile-img{
    width: 100px;
    border-radius: .5em;
}

.follow-btn{
    margin-top: 1em;
    text-align: center;
    padding: .5em 3em;
    background-color: #087fe9;
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 1em;
    transition: .5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-btn:hover{
    background-color: #055daa;
}

.user-icon{
    color: white;
    width: 20px;
    margin-right: 1em;
}

.stats-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}

.foll-info h1{
    font-size: 2em;
    columns: #222222;
}

.foll-info p{
    font-size: 1em;
    margin-top: .5em;
    color: rgb(167, 167, 167);
}