.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-image{
    width: 400px;
    height: auto;
}

.childof-box-2{
    border: 2px solid grey;
    margin: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.box-2 .childof-box-2 img{
    width: 100px;
    height: auto;
}

.childof-box-2.active{
    border: 2px solid royalblue;
}
